//Variables
$grey: #252525
$light-grey: #EBEBEB
$white: #fff
$green: #7a9942
$blue: #2c729e
$red: #D94E4E

body
  background-color: $grey
  color: $white
  font-family: 'Lato', sans-serif

h1
  color: $white
  font-family: 'Lato', sans-serif
  font-weight: 300

h2
  color: $white
  font-family: 'Lato', sans-serif
  font-weight: 100
  font-size: 2.25rem

h3
  color: $white
  font-family: 'Lato', sans-serif
  font-weight: 300

h4
  color: $white
  font-family: 'Lato', sans-serif
  font-weight: 300

h5
  color: $white
  font-family: 'Lato', sans-serif
  font-weight: 300

p
  font-family: 'Lato', sans-serif
  font-weight: 300
  font-size: 1.15rem

.normal-text
  font-weight: 300

.bold-text
  font-weight: 400

.large-bold-text
  font-size: 4em !important
  font-weight: 500 !important

i.fa
  font-size: 7em
  text-align: center
  margin: .4em auto
  display: block

.section
  padding: 4em 0

.call-to-action
  padding: 1em 0

#splash
  background-image: url('../img/splash-background.jpg')
  background-size: cover
  background-position: top center
  background-repeat: no-repeat
  display: block
  position: relative
  text-align: center
  height: 100%

  #logo
    margin-top: 25%

#about

#cloud
  background-image: url('../img/background.jpg')
  color: $grey
  .cloud-content
    z-index: 10
  h3
    color: $grey
  p
    font-weight: 400
  .devices
    position: absolute
    z-index: 9
    width: 60%
    right: 0%
    #macbook
      position: absolute
      margin-top: 138px
      z-index: 6
      left: 15%
    #imac
      margin-top: 20px
      position: absolute
      z-index: 5
      left: 40%
    #ipad
      position: absolute
      margin-top: 130px
      z-index: 7
      left: 75%
    #iphone
      position: absolute
      margin-top: 183px
      z-index: 8
      left: 90%

#sign-up
  background-color: $light-grey
  h3
    color: $grey
    margin-top: .8em
  a
    margin-top: 1em

#billing
  padding: 4em 0 .5em

#pricing
  background-image: url('../img/background.jpg')
  h1
    color: $grey
  .pricing-table .price
    height: 150px
    line-height: 1.5em
    padding-top: 30px

#industry

#newsletter
  background-image: url('../img/newsletter-background.jpg')
  background-size: cover
  background-position: top center
  background-repeat: no-repeat
  display: block
  position: relative
  text-align: center
  height: 100%
  padding: 25% 0

//Mailchimp overrides
#mc_embed_signup .button
  background-color: $green !important
  border-radius: 0px !important
  height: 50px !important
  line-height: auto !important
  margin: auto !important

#mc_embed_signup .mc-field-group input
  height: 50px !important

#mc_embed_signup div.mce_inline_error
  background-color: $red !important

#mc_embed_signup #mce-success-response
  color: $green !important
