#splash.section
  .row
    .large-10.medium-10.small-12.large-centered.medium-centered.columns
      %img#logo{src: "img/logo-white.png"}
  .row
    .large-10.medium-10.small-12.large-centered.medium-centered.columns
      %h2.text-center Simple Medical Record and Billing Software
  %br
  .row
    .large-10.medium-10.small-12.large-centered.medium-centered.columns
      %h4.text-center Learn More
  .row
    .large-10.medium-10.small-12.large-centered.medium-centered.columns
      %img{src: "img/learn-more.png"}
  .row
    .large-10.medium-10.small-12.large-centered.medium-centered.columns
      %img{src: "img/learn-more-down.png"}

#about.section
  .row
    .large-12.columns
      %h2.text-center
        %strong Free
        Medical Record Software.
        %strong Cheap
        Medical Billing Software.
  .row
    .large-4.medium-4.small-12.columns
      %i.fa.fa-pencil
      %h3.bold-text.text-center Patient Care Recording
      %p Free, Safe, and Secure BLS Tripsheet and Inluenza Electronic Medical Recording software.
    .large-4.medium-4.small-12.columns
      %i.fa.fa-tasks
      %h3.bold-text.text-center In Depth Analytics
      %p Valuable data displayed in a way that just makes sense.  Powerful reporting in an instant.
    .large-4.medium-4.small-12.columns
      %i.fa.fa-usd
      %h3.bold-text.text-center Automated Invoicing
      %p Getting paid shouldn't be a pain. Let our automated invoicing system do the heavy lifting.
#cloud.section
  .row
    .large-8.medium-10.small-12.columns.cloud-content
      %h2.normal-text.text-center Cloud Based. Cross Platform. Mobile Friendly.
      .bold-text.text-center
        %p Browser-based: Windows, Mac, iOS, Android
        %p Nothing to Download. Nothing to Install.
        %p Start working on one device, finish on another.
        %p
          %strong Safe
          and securely encrypted in the cloud.
        %p Unlimited Users. Unlimited Devices. Unlimited Everything.
    .devices
      %img#macbook.device{src: "img/macbook-small.png"}
      %img#imac.device{src: "img/imac.png"}
      %img#ipad.device{src: "img/ipad.png"}
      %img#iphone.device{src: "img/iphone.png"}
#sign-up.call-to-action
  .row
    .large-9.medium-8.small-12.columns
      %h3.text-center Sign up for updates and release information.
    .large-3.medium-4.small-12.columns
      %button.text-center.succuess.expand Keep me Updated
#billing.section
  .row
    .large-12.columns
      %h2.normal-text.text-center Bill it yourself, Select a 3rd party, Or let us bill for you.
  .row
    .large-12.columns
      %img{src: "img/macbook-large.png"}
#pricing.section
  .row
    .large-12.columns
      %h1.text-center Who says Medical Billing has to be expensive?
  .row
    .large-4.medium-4.small-12.columns
      %ul.pricing-table
        %li.title Influenza Recording
        %li.price.large-bold-text FREE
        %li.description Seriously.
        %li.bullet-item Unlimited Users
        %li.bullet-item Unlimited Devices
        %li.bullet-item Unlimited Records
        %li.cta-button
          %a.expand.success.button{:href => "#"} SIGN UP
    .large-4.medium-4.small-12.columns
      %ul.pricing-table
        %li.title BLS Recording
        %li.price.large-bold-text FREE
        %li.description We're Not Joking.
        %li.bullet-item Unlimited Users
        %li.bullet-item Unlimited Devices
        %li.bullet-item Unlimited Records
        %li.cta-button
          %a.expand.success.button{:href => "#"} SIGN UP
    .large-4.medium-4.small-12.columns
      %ul.pricing-table
        %li.title Flu + BLS Billing
        %li.price $500/year* + 35¢/invoice
        %li.description *Price per client for 3rd party billers
        %li.bullet-item Unlimited Users
        %li.bullet-item Unlimited Devices
        %li.bullet-item Unlimited Invoices
        %li.cta-button
          %a.expand.success.button{:href => "#"} TRY IT FREE
#industry.call-to-action
  .row
    .large-12.columns
      %h1.text-center We're Ready to Change the Industry.  Are you?
#newsletter.section
  .row
    .large-6.large-offset-3.medium-10.medium-offset-1.small-12.columns
      %h2.normal-text.text-center Sign Up for Release Updates
  .row
    .large-6.large-offset-3.medium-10.medium-offset-1.small-12.columns
      .row.collapse
        .large-9.medium-9.small-9.columns
          %input{:name => "newsletter", :placeholder => "Enter your email address", :type => "text"}
        .large-3.medium-3.small-3.columns
          %button.postfix.success{:type => "submit", :value => "Sign Up"} Sign Up
  .row
    .large-6.large-offset-3.medium-10.medium-offset-1.small-12.columns
      %h4.text-center We'll keep it important.  We hate spam too.
