#splash.section
  .row
    .large-10.medium-10.small-12.large-centered.medium-centered.columns
      %img#logo{src: "img/logo-white.png"}
  .row
    .large-10.medium-10.small-12.large-centered.medium-centered.columns
      %h2.text-center Simple Medical Record and Billing Software
  %br
  .row
    .large-10.medium-10.small-12.large-centered.medium-centered.columns
      %h4.text-center Learn More
  .row
    .large-10.medium-10.small-12.large-centered.medium-centered.columns
      %img{src: "img/learn-more.png"}
  .row
    .large-10.medium-10.small-12.large-centered.medium-centered.columns
      %img{src: "img/learn-more-down.png"}

#about.section
  .row
    .large-12.columns
      %h2.normal-text.text-center
        %strong Free
        Medical Record Software.
        %strong Cheap
        Medical Billing Software.
  .row
    .large-4.medium-4.small-12.columns
      %i.fa.fa-pencil
      %h3.bold-text.text-center Patient Care Recording
      %p Free, Safe, and Secure BLS Tripsheet and Inluenza Electronic Medical Recording software.
    .large-4.medium-4.small-12.columns
      %i.fa.fa-tasks
      %h3.bold-text.text-center In Depth Analytics
      %p Valuable data displayed in a way that just makes sense.  Powerful reporting in an instant.
    .large-4.medium-4.small-12.columns
      %i.fa.fa-usd
      %h3.bold-text.text-center Automated Invoicing
      %p Getting paid shouldn't be a pain. Let our automated invoicing system do the heavy lifting.
#cloud.section
  .row
    .large-8.medium-10.small-12.columns.cloud-content
      %h3.bold-text.text-center Cloud Based. Cross Platform. Mobile Friendly.
      .bold-text.text-center
        %p Browser-based: Windows, Mac, iOS, Android
        %p Nothing to Download. Nothing to Install.
        %p Start working on one device, finish on another.
        %p
          %strong Safe
          and securely encrypted in the cloud.
        %p Unlimited Users. Unlimited Devices. Unlimited Records.
    .devices
      %img#macbook.device{src: "img/macbook-small.png"}
      %img#imac.device{src: "img/imac.png"}
      %img#ipad.device{src: "img/ipad.png"}
      %img#iphone.device{src: "img/iphone.png"}
#sign-up.call-to-action
  .row
    .large-9.medium-8.small-12.columns
      %h3.text-center Sign up for updates and release information.
    .large-3.medium-4.small-12.columns
      %button.text-center.succuess.expand Keep me Updated
#billing.section
  .row
    .large-12.columns
      %h2.normal-text.text-center Bill it yourself, Select a 3rd party, Or let us bill for you.
  .row
    .large-12.columns
      %img{src: "img/macbook-large.png"}
#pricing.section
  .row
    .large-12.columns
      %h1.text-center Who says Medical Billing has to be expensive?
  .row
    .large-4.medium-4.small-12.columns
      %ul.pricing-table
        %li.title Influenza Recording
        %li.price.large-bold-text FREE
        %li.description Seriously.
        %li.bullet-item Unlimited Users
        %li.bullet-item Unlimited Devices
        %li.bullet-item Unlimited Patients
        %li.bullet-item Unlimited Records
        %li.cta-button
          %a.expand.success.button{:href => "#"} SIGN UP
    .large-4.medium-4.small-12.columns
      %ul.pricing-table
        %li.title BLS Recording
        %li.price.large-bold-text FREE
        %li.description We're Not Joking.
        %li.bullet-item Unlimited Users
        %li.bullet-item Unlimited Devices
        %li.bullet-item Unlimited Patients
        %li.bullet-item Unlimited Records
        %li.cta-button
          %a.expand.success.button{:href => "#"} SIGN UP
    .large-4.medium-4.small-12.columns
      %ul.pricing-table
        %li.title Flu + BLS Billing
        %li.price $500/year* + 35¢/invoice
        %li.description *Price per client for 3rd party billers
        %li.bullet-item Unlimited Users
        %li.bullet-item Unlimited Devices
        %li.bullet-item Unlimited Patients
        %li.bullet-item Unlimited Invoices
        %li.cta-button
          %a.expand.success.button{:href => "#"} TRY IT FREE
#industry.call-to-action
  .row
    .large-12.columns
      %h1.text-center We're Ready to Change the Industry.  Are you?
#newsletter.section
  .row
    .large-6.large-offset-3.medium-10.medium-offset-1.small-12.columns
      %h2.normal-text.text-center Sign Up for Release Updates
  .row
    .large-6.large-offset-3.medium-10.medium-offset-1.small-12.columns
      /.row.collapse
      /  .large-9.medium-9.small-9.columns
      /    %input{:name => "newsletter", :placeholder => "Enter your email address", :type => "text"}
      /  .large-3.medium-3.small-3.columns
      /    %button.postfix.success{:type => "submit", :value => "Sign Up"} Sign Up


      / Begin MailChimp Signup Form
      %link{:href => "//cdn-images.mailchimp.com/embedcode/classic-081711.css", :rel => "stylesheet", :type => "text/css"}
        #mc_embed_signup
          %form#mc-embedded-subscribe-form.validate{:action => "//bradmtech.us8.list-manage.com/subscribe/post?u=fed693cecc77fcfff1978c263&amp;id=17ff7ded8e", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
            .mc-field-group
              .row.collapse
                .large-9.medium-9.small-9.columns
                  %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => ""}
                .large-3.medium-3.small-3.columns
                  %input#mc-embedded-subscribe.postfix.success.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
            #mce-responses.clear
              #mce-error-response.response{:style => "display:none"}
              #mce-success-response.response{:style => "display:none"}
            / real people should not fill this in and expect good things - do not remove this or risk form bot signups
            %div{:style => "position: absolute; left: -5000px;"}
              %input{:name => "b_fed693cecc77fcfff1978c263_17ff7ded8e", :tabindex => "-1", :type => "text", :value => ""}/
            .clear
        %script{:src => "//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js", :type => "text/javascript"}
        :javascript
          (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);  / End mc_embed_signup
  .row
    .large-6.large-offset-3.medium-10.medium-offset-1.small-12.columns
      %h4.text-center We'll keep it important.  We hate spam too.
